.left {
  .title {
    font: 42px "acumin-pro-extra-condensed", sans-serif;
    margin-bottom: 15px;

    .profile_label {
      color: white;
      font-weight: bold;
    }
    .separator {
      display: inline-block;
      width: 2px;
      margin: 0 10px;
      height: 40px;
      background: #DF4F0B;
      transform: translateY(5px);
    }
    .edit_label {
      color: #A2A2A2;
    }
  }
  .description {
    margin-top: 10px;
    font: 16px "proxima-nova", sans-serif;
    color: #FEFCFC;
  }

  .horizontal_split {
    height: 3px;
    width: 100%;
    background: #2C2C2C;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .left {
    display: none;
  }
}
